[2017-07-24 08:09] ikskuh opened #1 "Highscore-System"
Ich habe gestern auf der Heimfahrt noch ein Highscore-System zusammengehackt, das aber eine eher rudimentäre Ausgabe hat.

Zur Zeit sammle ich eine Score mit unterschiedlicher Punktzahl pro Gegner sowie die Anzahl der getöteten Gegner (pro Typ).

1) Was wollen wir an Score im laufenden Spiel anzeigen.
2) Wann vergleichen wir die aktuelle Score mit dem Highscore?
3) Wollen wir eine Highscore-Liste

[2017-07-24 08:31] ikskuh opened #2 "Death-Screen"
Wenn der Spieler drauf geht, kommt ja im Moment der Death-Screen, anschließend startet das Spiel erneut.

Wollen wir da nicht lieber danach zurück ins Hauptmenü?

Man könnte auch die Highscores darauf anzeigen

[2017-07-24 08:49] simonschreibt-code commented on #2
Ich würde dafür stimmen, dass wir es so lassen wie es ist. Das Spiel ist
ja sehr iterativ (Spielen, Sterben, Nochmal versuchen) und so erspart
man sich das Klicken auf "Neues Spiel". Stellt euch mal vor bei
Super-Meat-Boy hätte man nach jedem Tod wieder ins Menü gemusst. :D Die
Musik kann übrigens auch einfach durchlaufen - falls sie das nicht jetzt
schon tut. :D

On 7/24/2017 10:31 AM, Felix Quei

[2017-07-24 09:04] mk1x86 commented on #2
Musik sollte eigentlich durchlaufen. Eventuell sollte noch eine ogg Version gemacht werden in der Hoffnung, dass der Sprung beim loopen nicht so krass ist. Eigentlich ist es nämlich perfekt loopbar

[2017-07-24 09:07] mk1x86 opened #3 "Add credits to menu"
Credits szene und Musik fehlt noch

[2017-07-24 09:08] mk1x86 opened #4 "Turret lässt sich oft nicht treffen"
Da gibt es echt noch Probleme, eigentlich wird er getroffen, aber es ist kein Treffer

[2017-07-24 09:10] mk1x86 opened #5 "Spikes sollten kein Hindernis für sputniks sein"
Außerdem kommt der spielt da oft nicht drüber. Kann man die nicht passable machen und der spieler bekommt einfach leben angetroffen? Geht über hit_player

[2017-07-24 09:10] mk1x86 commented on #5
*der spieler

[2017-07-24 09:12] ikskuh commented on #4
Hm, das könnte in dem Fall nen Problem mit PASSABLE sein...
Ich guck mal, dass ich das mit c_ignore hinbiegen kann

[2017-07-24 09:13] ikskuh commented on #5
Theoretisch sind die Spikes PASSABLE, aber irgendwie zicken die Sputniks da rum. Könnte auch sein, dass das am Pathfinding liegt oder aber an nem c_move.
Ich kümmer mich

[2017-07-24 09:16] simonschreibt-code commented on #1
Im laufenden Spiel könnte man ja den aktuellen und den persönlichen besten Score dieser Session zeigen. Also z.B. 324/833 wobei 324 die aktuelle Punktzahl ist und 833 die persönliche Bestleistung.

Auf dem Gameover-Screen könnte es dann eine Bestenliste geben.

[2017-07-24 09:34] mk1x86 opened #6 "Quest-Dialog-Fenster versperrt Sicht"
Wenn ich gerade in Bedrängnis bin und den NPC berühre, stört die Nachricht.
Sollte entweder nach oben oder nach unten

[2017-07-24 09:40] ikskuh opened #7 "Marker-Rework"
Imho ist der Marker grade zwar konzeptionell ganz cool, sieht aber doof aus und fällt quasi gar nicht auf.

Mein Vorschlag wäre folgendes Design für den Marker:

![](https://puu.sh/wRG4q/8406806027.png)

Das würde inhaltlich immer noch das selbe sein, aber optisch etwas mehr hervorgehoben. Der Marker sollte auch erst angezeigt werden, wenn ein Gegner eine Weile gehovered wurde, damit das ganze nic

[2017-07-24 09:47] simonschreibt-code commented on #7
Kleine Frage: Wozu brauchen wir so einen Marker überhaupt? Ich bin meißt eher der Fan von Grafik ohne stöhrendes UI, wenn es nicht zwingen erforderlich ist.

[2017-07-24 09:52] ikskuh commented on #7
Der gute @firoball will den unbedingt haben. Kann man ja optional machen, ich brauch den auch nicht zwingendermaßen, aber so wie er grade ist, kann ich mich gar nicht damit anfreunden (nur texte)

[2017-07-24 10:01] firoball commented on #5
Spikes hatte ich gestern eigentlich gefixt.... Falls das nicht wieder jemand umgebaut hat...Am 24.07.2017 11:10 vorm. schrieb mk1x86 <notifications@github.com>:Außerdem kommt der spielt da oft nicht drüber. Kann man die nicht passable machen und der spieler bekommt einfach leben angetroffen? Geht über hit_player

—You are receiving this because you are subscribed to this thread.Reply to this email

[2017-07-24 10:15] simonschreibt-code commented on #7
Dazu hötte ich noch eine Frage: Kann man Dinge NUR in der Reflektion rendern, aber nicht im eigentlichen Spiel? Evtl könnte man dann Texte in den Boden einbetten. So würden sie die Grafik nicht überlagern und sich in die Grafik einbetten:

![sputnik](https://user-images.githubusercontent.com/12360416/28518858-c16e0576-7069-11e7-8998-b83f39207fa4.png)

[2017-07-24 10:26] mk1x86 commented on #7
Kann man, aber dann werden die auch geblurred und wären unlesbar

[2017-07-24 10:28] firoball commented on #7
Ich würde das tatsächlich einfach halten.Der Rahmen sieht zwar fancy aus, hat aber nach spätestens fünf Minuten Nerv Garantie. Ich werde noch einen Timer für hover enter einbauen. Beeinflusst untouchable das setzen von mouse_ent? Aktuell zickt der hover manchmal weil die Maus über nem Schuss ist...Am 24.07.2017 12:15 nachm. schrieb ilegacy <notifications@github.com>:Dazu hötte ich noch eine Frage:

[2017-07-24 11:16] simonschreibt-code commented on #7
Ja, ich finde den Rahmen auch zu viel, wäre aber dafür, dass wir nicht nur simplen Text verwenden. Es sieht dann halt nach debug-menu aus und passt nicht zum Stil des Spiels - und wir haben uns soviel Mühe gegeben die Grafik bisschen schick zu machen, dass es schade wäre, wenn wir jetzt etwas hinzufügen, dass den Stil bricht und auch keinen Zusatznutzen bringt (z.B. im Sinne von Gameplay).
Ein Anf

[2017-07-24 11:22] firoball commented on #7
Meine Güte... Werft es raus und fertig. Keinen Bock mehr... Wird eh alles was ich einbau gleich wieder umgebaut, deaktiviert oder angemeckertAm 24.07.2017 1:16 nachm. schrieb ilegacy <notifications@github.com>:Ja, ich finde den Rahmen auch zu viel, wäre aber dafür, dass wir nicht nur simplen Text verwenden. Es sieht dann halt nach debug-menu aus und passt nicht zum Stil des Spiels - und wir haben

[2017-07-24 11:23] ikskuh commented on #7
Ich finde die Idee mit dem Text aufm Boden eigentlich ganz geil, ich probier mal aus, wie gut das mit Sprites aussieht
@ilegacy Welche Font hast du in dem Bild oben verwendet?

[2017-07-24 11:27] simonschreibt-code commented on #7
@firoball War nicht böse gemeint! Ich finde es um ehrlich zu sein auch nicht gut, wenn einfach so Dinge rausgeworfen werden. Wenn jetzt die Mehrheit etwas nicht gut findet, kann man das ja auch demokratisch entscheiden, aber einfach Dinge wegwerfen ohne dem Ersteller bescheid zu sagen ist nicht die feine Art würde ich sagen.

@MasterQ32 Die Schriftart kannst du hier finden: http://www.dafont.com/d

[2017-07-24 11:56] Slin commented on #7
Man könnte auch einfach noch eine Kamera erstellen die nur den Text im sichtbaren Bereich in eine höher aufgelöste Textur rendert und die dann mit auf den Boden projizieren.

[2017-07-24 12:18] ikskuh commented on #6
Ich pack die mal passender hin. Füge auch gleich noch eine Stage Anzeige ein, welche das aktuelle Level anzeigt

[2017-07-24 12:33] simonschreibt-code commented on #7
@Slin Klingt super. Übrigens könnte man dann das Leben des Spielers und evtl. Dessen Highscore auch direkt an den Spieler auf den Boden "Kleben" :)

[2017-07-24 12:36] ikskuh commented on #6
Gelöst in 394414ae497fde3b07855109ed2847ff52827a4e

[2017-07-24 12:36] #6 closed, assigned to ikskuh

[2017-07-24 12:37] mk1x86 commented on #7
Ilegacys letzten Kommentar finde ich super!

[2017-07-24 12:46] ikskuh commented on #7
Dito. Sollen wir die HUD unten links dann noch behalten?

[2017-07-24 12:47] ikskuh commented on #4
Gelöst in 3dc045af521004b8acb38287a97cc1b254ffd798

[2017-07-24 12:47] #4 closed, assigned to ikskuh

[2017-07-24 12:47] mk1x86 commented on #7
Ja. Kann von mir aus sogar größer. Der Kopf ist ja sehr klein

[2017-07-24 12:47] simonschreibt-code commented on #7
Jap, der Kopf ist zu cool um den zu löschen :D

[2017-07-24 12:56] ikskuh commented on #5
Gelöst in b0012d50043077db83230e09eb69f12127dbed16
Problem waren weder Spikes, Turrets noch Holes, sondern das Level mit Löchern im Kollisionsmesh. Das Mesh hat jeetzt group 30 und die sputniks ignorieren das

[2017-07-24 12:56] #5 closed, assigned to ikskuh

[2017-07-24 13:04] simonschreibt-code commented on #7
Geiler Fehlermeldung :D
![image](https://user-images.githubusercontent.com/12360416/28524590-6edd11c2-7081-11e7-8da5-33992b5600dc.png)

[2017-07-24 14:13] ikskuh commented on #7
Okay, es geht voran. Ich würde aber die Marker von allen Schüssen entfernen, sonst wird das arg chaotisch

[2017-07-24 14:45] ikskuh commented on #7
So, nächster Schritt im Fortschritt: TTB(Text To Boden)-Rendering

![Fortschritt ist gut.](https://puu.sh/wRPla/3ffbfbf027.png)

[2017-07-24 14:51] simonschreibt-code commented on #7
Wow cool! Awesome :) Das wirkt doch sofort richtig in-place :)

[2017-07-24 14:54] mk1x86 commented on #7
Ich sehe irgendwie nur ein halbes Bild :-(

[2017-07-24 14:55] ikskuh commented on #7
Das Problem, das ich grade noch habe, ist das Overpainting des TEXT-Objektes. Ich muss irgendwie die `target_map` clearen können... Hilft da ein PANEL?

![](https://puu.sh/wRPHm/e784c6f7aa.png)

[2017-07-24 14:57] simonschreibt-code commented on #7
Können wir für Spieler/Enemy Text-Farbe auch Einträge in der LUT-Table machen?

[2017-07-24 14:58] ikskuh opened #8 "Score Multiplier einfügen"
Schnelle Kills in Folge sollten einen Multiplikator ergeben, für das maximale Erlebnis.

Wie soll der funktionieren?

[2017-07-24 15:01] mk1x86 commented on #7
Ich würde noch die 45° drehen. Sieht aber gut aus

[2017-07-24 15:02] ikskuh commented on #7
Theoretisch ja, da muss ich aber mal gucken, wie...

[2017-07-24 15:07] ikskuh commented on #7
Ich finde die aktuelle Variante eigentlich ganz cool, weil der Text gut zu lesen ist und halt auch mit dem Level aligned

[2017-07-24 15:23] simonschreibt-code commented on #7
Ich finde auch, dass er so für das Level mehr Sinn macht. 45° gedreht wäre dann für den Beobachter aligned :D Ihr könnte ja mal rumtesten, aber spontan wäre ich auch eher für @MasterQ32's version.

Bezüglich LUT/Color eine Anwort?

[2017-07-24 15:24] ikskuh commented on #7
Noch nicht, ich compilier grade erst mal so gefühlte hundert plugins für gimp, inklusive DDS ^^

[2017-07-24 15:34] simonschreibt-code commented on #7
hab mal 2 zeilen hinzugefügt und gepushed :)
![image](https://user-images.githubusercontent.com/12360416/28531186-56180a60-7096-11e7-9006-4d6e5f79597c.png)

[2017-07-24 15:35] ikskuh commented on #7
Danke dir, es funktioniert auch (im moment so halb)
![](https://puu.sh/wRR71/351f447759.png)

[2017-07-24 15:37] simonschreibt-code commented on #7
Sehr cool! Ich könnte dir in der LUT auch noch einen dunkleren Ton geben, damit wir die 0xXXXXXX werte etwas abdimmen. Könnte immernoch stimmig wirken aber etwas den information overflow eindämmen :D

[2017-07-24 15:38] ikskuh commented on #7
Ne, dafür bräuchte ich zwei TEXT-Objekte pro Objekt, das wäre dann auch wieder etwas Overkill...

Habe die Farben eingebaut, muss aber noch nen Objekt-Shader fixen
![](https://puu.sh/wRRbw/6598fde6d7.png)

[2017-07-24 15:46] Slin commented on #7
Wäre glaub ich cool bei Überlappungen die Texte untereinander zu platzieren. Eventuell etwas bloom und fallen sollten glaub ich keinen text haben.

[2017-07-24 15:51] ikskuh commented on #7
So, habe jetzt mal einen Stand gepusht, der das Verhalten des vorherigen States komplett mimicts, nur eben auf Basis des neuen Systems... :)

@Slin Wie meinst du "untereinander"? Also quasi nicht die Textzeilen einfach aufeinander packen, sondern stapeln wie bei nem Layouting-System?

Bloom würde ich nicht machen, das würde die Lesbarkeit zu sehr reduzieren

![](https://puu.sh/wRRC1/ad0d277b98.png

[2017-07-24 15:55] simonschreibt-code commented on #7
sehr cool! wenn du magst, kannst du den bloom aus der LUT-Alpha holen (derzeit schwarz) und dann können wir damit tweaken :) Was komisch ist, die LUT hat für den Text ein reines rot .. aber irgendwie sieht es im SPiel bräunlich aus ...

du nutzt nicht zufällig zeile 4 für den text statt 6?

[2017-07-24 16:04] ikskuh commented on #7
Lese jetzt den Alpha aus der LUT, habe auch noch ein paar Bugfixes hinterhergeschoben.

[2017-07-24 16:04] mk1x86 commented on #7
auf jeden Fall drehen und viel viel kleiner. Das lenkt noch mehr ab als vorher der Text.
Max macht da keinen Sinn, das interessiert im Spiel nicht: LIV und SCORE würde ich durch ein Icon ersetzen.
Würde mich auch selber dran setzen, aber mein Kleiner verlangt heute besonders viel Aufmerksamkeit

[2017-07-24 16:04] simonschreibt-code commented on #7
sehr cool! übrigens: man könnte das gegner-leben/health natürlich auch noch mit reinpacken :dagger:

[2017-07-24 16:05] ikskuh opened #9 "Teleporter-Basis"
Der Teleporter benutzt zur Zeit noch seine eigene Textur und würde gerne auf den Object Shader umsteigen.

Hierzu wird eine angepasste Textur sowie ein 3er-Slot in der LUT benötigt.

[2017-07-24 16:12] ikskuh commented on #7
Ja, haste auch Recht... Wie viel % kleiner sollten wirs machen?

Hm, dafür bräuchten wir auch wieder ein PANEL... Wäre dann wohl auch ein Umstieg auf PANEL mit `digit()` anstelle von TEXT, aber ist dann auch kein Problem.

Möchte mal jemand ( @ilegacy zum Beispiel) ein Icon für Score und Leben machen?

[2017-07-24 16:17] simonschreibt-code commented on #7
Ich finde die Größe gar nichtmal so schlecht - aber wenn verkleinern, dann vielleicht max 75%?. Hier habe ich mal die Farbe der Gegner abgedimmt - aber sie flasht rot auf wenn man getroffen wird.

![font_01](https://user-images.githubusercontent.com/12360416/28533126-4af61298-709c-11e7-9a98-68011f896920.gif)

[2017-07-24 16:20] simonschreibt-code commented on #7
Den score könnten mann theoretisch auf "current/max" schreiben, um eine Zeile zu sparen.

[2017-07-24 16:21] ikskuh commented on #7
Das Aufblitzen der "Schrift" kommt daher, dass ich sie Additive auf das reflektierte Bild mappe. Könnte hier auch ein Alpha-Blending zwischen Schrift und Reflektion machen oder zwischen Schrift und normalem Boden oder ...

[2017-07-24 16:28] simonschreibt-code commented on #7
finde alles perfekt so wie es ist :) zwei icons sind eingecheckt:
![image](https://user-images.githubusercontent.com/12360416/28533553-d36c8052-709d-11e7-81df-6621d6a0265c.png)

[2017-07-24 16:42] mk1x86 commented on #7
Ich finde es halt aufdringlich, wenn eh schon viel los ist. Würde die eventuell bei geringer Distanz zum Spieler ausblenden, damit es dort nicht overkill wird

[2017-07-24 16:43] Slin commented on #7
Wenn ich so die überlappenden getweakten farben sehe, find ich es jetzt ziemlich gut. Ich meinte vorhin dass man tatsächlich mit lay outing dann die texte zumindest in der höhe übereinander platziert wenn sie sonst überlappen würden, aber da sah das auch noch doof aus :).

[2017-07-24 16:45] Slin commented on #7
Wenn wir weniger anzeigen wollen könnte man überlegen nur die texte für Gegner anzuzeigen die in den letzten paar Sekunden Schaden gemacht oder bekommen haben.

[2017-07-24 17:02] simonschreibt-code commented on #9
wo ist denn die textur für das gute stück?

[2017-07-24 17:07] Superku opened #10 "Turrets und Spikes werden nicht mehr rot"
Mag das jemand fixen, der sich mit der Implementation auskennt?
Sonst guck ich mir das an.

[2017-07-24 17:19] xwcg opened #11 "Schuss sounds gehen weiter nach dem man stirbt"

[2017-07-24 17:28] xwcg commented on #3
Button ist jetzt im menü drin. @evil-lemming müsstest dann nur noch die SPLASH__startCredits funktion mit deinem code ergänzen

[2017-07-24 17:46] simonschreibt-code commented on #10
es sollte eigentlich nicht an der LUT-textur liegen. die habe ich zwar verändert (für die farben auf dem boden) aber die turret-werte habe ich nicht angefasst.

[2017-07-24 17:59] ikskuh commented on #10
Hups, da hatte ich nen Copy-Paste-Fehler

[2017-07-24 17:59] #10 closed, assigned to ikskuh

[2017-07-24 18:08] Hen-woll commented on #9
Entschuldige für die späte Antwort, Die Textur habe ich ins Game/Models/ verzeichnis [Teleport.bmp] getan. die Items habe ich nun auch Fertig , im code müssten die Item Bezeichnungen nun auch abgeändert werden, ich werde gleich damit anfangen ein neues Gameover screen zu erstellen, aufgrund das es mir momentan noch garnicht so gefällt. daraufhin erstelle ich weitere Details meinen haupt modellen,

[2017-07-24 18:21] mk1x86 opened #12 "Todesanimation Spieler"
Ich weiß nicht, ob es eine gibt, aber wir sollten eine haben. Kann ja theoretisch auch explodieren oder so, aber nur game over einblenden ist was wenig, denke ich.

Werde auch noch einen sterbesound machen

[2017-07-24 18:46] simonschreibt-code commented on #12
wäre lustig wenn er in seine einzelnen polygone/dreiecke zerspringen könnte. ansonsten könnte es auch eine partikel-nova tun, falls das geht :)

[2017-07-24 19:03] simonschreibt-code commented on #9
Teleport ist vorbereitet. Benutzt irgendwas schon "Object Color 3" in der LUT? Wenn nicht, könnten dir die Farben dort benutzen. Wenn ihr wollt, könnten wir auch Farbe 1 und 2 tauschen, je nachdem ob derTeleporter aktiviert ist oder nicht.

[2017-07-24 19:03] mk1x86 opened #13 "Turm hat keine Unterseite"
Die Todes-Animation scheint geändert zu sein. Jetzt kann man auf jeden Fall die Unterseite der Platte sehen - oder eben nicht, weil dort faces fehlen.

[2017-07-24 19:06] ikskuh commented on #9
Das ist eher unpraktisch, da wir dafür mal wieder nen neuen Shader bräuchten, und ich eigentlich grade versuche, die Anzahl an Shadern zu reduzieren

Gute Frage... Könntest die rechte Hälfte der LUT sichtbar machen? Dann muss ich das nicht immer in GIMP von seinem Alphakanal befreien
Ansonsten bekommt der Teleporter jetzt erst mal die OC3 als Farbe

[2017-07-24 19:08] simonschreibt-code commented on #9
Das Item (oder gibt es mehere) ist auch vorbereitet. Ich wusste nicht ob ich Textur.bmp oder Textur_fc.bmp nehme sollte aber habe mich einfach mal für letztere entschieden.

[2017-07-24 19:11] ikskuh commented on #9
Die bekommen doch eh den Hologramm-Shader, oder nicht?

@Hen-woll : Du hast die Textur nicht auf "extern" eingestellt, das Modell nutzt noch die alte Textur

[2017-07-24 19:14] simonschreibt-code commented on #9
Ich glaube das wird schwer, weil dann der Bloom verloren geht, sobald man stirbt und die Textur kurz an das Ende der Farb-Felder springt (und dann langsam wieder an die Anfangs Position springt. Ich kann aber einfach eine LUT_preview speichern, du dann keinen alpha hat. Wäre das ok?

[2017-07-24 19:17] ikskuh commented on #9
Ich meinte die Rechte hälfte des Bildes, nicht der Balken ;) Also das, worin der Text steht

[2017-07-24 19:17] Slin commented on #12
Dann brauchen wir eine zweite (oder gleiche weil wir eh kein shading haben) Version des Players mit harten Edges, die wir dann entlang der normalen im shader bewegen könnten. Macht die Flugbahn etwas langweilig, könnte aber trotzdem ganz gut aussehen wenns schnell genug ist. Könnte man natürlich auch per animation lösen, aber ich vermute mal das will keiner machen :D.

[2017-07-24 19:18] simonschreibt-code commented on #9
habe mal eine _PREVIEW.BMP hinzugefügt. die wird aut-exported und daher sollte sie immer aktuelle sein :)

[2017-07-24 19:20] ikskuh commented on #12
Slin: Ich hab an das selbe gedacht, nur: Man kann ja Fake Gravity mit ner Flugbahn machen, eventuell sogar nen Bounce auf dem Boden mit den Polygonen. Aber ja, dafür brauchen wir das Modell in Edge-Split

[2017-07-24 19:20] simonschreibt-code commented on #9
ah ok! done :)

[2017-07-24 19:23] simonschreibt-code commented on #8
Spontan würde ich sagen: Eine Killstreak besteht wenn man 2 Gegner innerhalb 1-2 Sekunden getötet hat. Solange man innerhalb je einer weiteren Sekunde mind einen weitere Gegner tötet, get der Multiplier in 0.1 Scritten nach oben?

[2017-07-24 19:25] simonschreibt-code commented on #7
Irgendwie hat der Player-Text nun dieselbe Farbe wie der Enemy-Text (auf dem Boden). Ist da etwas verrutscht? @MasterQ32

[2017-07-24 19:26] ikskuh commented on #7
Habe ich mich grad auch  gefragt. Lass mich mal zu Abend essen, dann guck ich danach

[2017-07-24 19:29] simonschreibt-code opened #14 "Endgegner-Augen schießen lassen"
Ich habe mir gedacht, könnte man den Endgegner nicht wie einen Turret behandeln und einfach kontinuierlich Bullets aus den Augen schießen lassen? So wäre er ein bisschen Gefährlich bei minimalen Aufwand :)

[2017-07-24 19:55] ikskuh commented on #7
Gefixt. `player.type` wurde nicht gesetzt

[2017-07-24 20:00] ikskuh commented on #7
Ups, falscher Winkel mit 45 Grad versetzt:
![](https://puu.sh/wS20l/2c2f6f4bf0.png)

[2017-07-24 20:07] ikskuh commented on #7
So, jetzt mit dem richtigen Winkel:
Ich fand die Version mit *grid alignment* besser als mit *camera alignment*
![](https://puu.sh/wS2gN/087eed14f3.png)

Das Problem ist, dass wir jetzt theoretisch für jeden Gegnertypen ne optische Korrektur für dessen Z-Wert machen müssen, damit der Text perspektivisch neben dem Gegner ist

[2017-07-24 20:21] simonschreibt-code commented on #7
Puh also ich fands vorher auch viel besser. Jetzt sieht es wieder UI was nicht zu Welt gehört während es sich vorher perfekt eingebettet hat. Ich konnte auch vorher schon die Player-STats sehr gut lesen. Also von mir aus muss es nicht 45° gedreht sein.

[2017-07-24 20:24] ikskuh commented on #7
Lösen wir das doch demokratisch: https://strawpoll.com/89c2sp8x

[2017-07-24 20:25] simonschreibt-code commented on #7
Habe abgestimmt :) (Im Notflal könnte man es evtl. vie Options BFG einstellbar machen :D )

[2017-07-24 20:29] mk1x86 commented on #7
Stimme zu, vorher war besser. Sollte trotzdem viel kleiner sein, der Text ist größer als die Objekte selber

[2017-07-24 20:31] ikskuh commented on #7
Hälfte der vorherigen Größe finde ich zu klein:
![](https://puu.sh/wS3sj/68b407e54c.png)

[2017-07-24 20:33] simonschreibt-code commented on #7
Würde den Text auch max. auf 75% kleiner machen obwohl ich ihn beim zocken gar nicht störend fand in seiner originalen Größe. Aber kannst es ja mal mit 75-80% probieren? Marius, stört es dich beim Spielen oder gehst du nur von den Screenshots aus? Ich muss sagen, beim SPielen fühlt es sich anders an als auf den statischen Shots.

[2017-07-24 20:48] ikskuh commented on #7
Bin jetzt bei einer 60%igen Größe der orginalen Skalierung. Das ist nen guter Kompromiss denke ich. Aktueller Stand ist gepushed in 7a3c2c43e417a80ecb02b72469f1ac18428f71d9

![](https://puu.sh/wS4hR/16ebba61ae.png)

[2017-07-24 20:49] mk1x86 commented on #7
Fand's beim spielen störend. Könnte auch etwas näher ran an die Objekte

[2017-07-24 20:56] ikskuh commented on #7
<strike>*Theoretisch* passen sie sich an die Objektgröße an (`my.max_y` als Distanz), aber scheinbar sind alle Bounding Boxen nicht so pralle</strike>
Oder aber ich bin doof und skaliere anstelle der Größe des Sprites die Größe der Bounding Box. Fix ist up and ready

[2017-07-24 21:00] simonschreibt-code commented on #8
Übrigens wird der Score derzeit bei jedem Level_Wechsel wieder auf 0 gesetzt :D

[2017-07-24 21:22] xwcg commented on #13
ich glaube bei dir ist was kaputt, hier habe ich immer noch die richtige animation

[2017-07-24 21:36] xwcg opened #15 "Schwierigkeitsgrad zu lau"
Ich musste gerade bis zu stage 9 spielen damit es anfing ein wenig herausfordernd zu werden. Ich würde mal behaupten wir können ausser der anzahl auch die HP der gegner jede stage etwas hochdrehen.

[2017-07-24 21:39] xwcg commented on #7
Sehr geil!!

[2017-07-25 06:07] simonschreibt-code commented on #13
Ich glaube Marius meint das hier:
![image](https://user-images.githubusercontent.com/12360416/28558033-41aa3498-7110-11e7-8c4a-2b161662272d.png)

[2017-07-25 06:08] simonschreibt-code opened #16 "Treffer-Feedback für Turm"
Meint ihr, es wäre möglich die Tower auch weiss aufblitzen zu lassen, wenn man sie trifft? Das Feedback ist super gut bei den Gegnern aber bei den Türmen fehlt es mir noch.

[2017-07-25 06:24] mk1x86 commented on #13
Genau

[2017-07-25 07:06] simonschreibt-code opened #17 "Highscore-Counter wird bei Levelwechsel auf 0 zurückgesetzt"

[2017-07-25 07:28] ikskuh commented on #15
Interessant! Ich verrecke immer im zweiten oder dritten Level. Spiele aber auch mit dem Nubsie vom Thinkpad.

Was oft stört, ist, dass man manchmal von einer Horde von Gegnern umzingelt wird. Was hier ganz cool wäre: Eine Art Blast-Angriff, der die Gegner von einem wegschleudert

[2017-07-25 07:29] ikskuh commented on #17
Ja, das hatte ich so gelöst, um zu testen, ob man einen Highscore erreichen konnte. Würde die Highscore-Überprüfung einfach in den Game-Over-Screen legen und keinen Reset zwischen den einzelnen Leveln machen.

[2017-07-25 07:36] mk1x86 commented on #15
Finde die Idee gut, aber ich würde nicht noch eine Taste dazu nehmen. Entweder mouse middle oder als Ersatz für die Granate. Wir müssen eigentlich eh irgendwo die Steuerung erklären.

Kann der Generator so angepasst werden, dass zu Beginn keine Gegner in der Nähe sind? Manchmal wird man sofort überrollt

[2017-07-25 07:37] xwcg commented on #15
Vielleicht könnten wir die bombe in der reichweite beschränken und dem den push geben. Sogar den schaden etwas runterdrehen? Ich finde die bombe total OP wie sie ist, einfach die gegner kiten und dann alles in einem schlag umhauen ist schon so etwas doof 🤔

[2017-07-25 07:40] simonschreibt-code commented on #15
Mein Blast-Angriff heißt Granate :D Aber ich finde die gar nicht so OP, da die Sputniks nicht sofort sterben und naja .. vielleicht spiele ich auch zu schlecht aber ich komme schon in Bedrängnis :D Zumal man die Granate echt nicht oft einsetzen kann.

[2017-07-25 07:43] simonschreibt-code opened #18 "Vorschlag: Steuerung-Tutorial"
Wir können das Tutorial in den Boden-Text implementieren:

Anfangs wird NICHT Leben/Score angezeigt sondern:

**WASD: Move**

Drückt der Spieler W, A, S oder D wird der Text ausgetauscht:

**Left Mouse: Shoot**

Schießt der Spieler, wird der Text ausgetauscht:

**Right Mouse: Granade**

Sobald der Spieler nun eine Granate feuert ist das Tutorial geschafft und Leben/Score werden angezeigt.

Beim Te

[2017-07-25 07:45] mk1x86 commented on #18
Super Idee, finde ich

[2017-07-25 07:47] mk1x86 commented on #14
Da der eh einfach auf dem Teleporter hockt, würde ich einfach ein Warnsignal machen und nach zwei Sekunden, macht der Dauerlaser mit den Augen. Dann hält man sich auch vom Teleporter fern, solange er noch nicht gecleared ist. Würde den Gegner dann auch einfach "Guardian" nennen

[2017-07-25 07:48] mk1x86 commented on #18
Siehe auch: https://github.com/Acknex/LottiVersusTheWorld/issues/14
In dem Fall:

Teleporter: DISABLED
Guardian: ACTIVE

zu

Telerporter: ACTIVE
Guardian: SHUTDOWN

irgendwie so

[2017-07-25 07:49] ikskuh commented on #18
Finde ich ebenfalls gut, so wird das auch leicht verständlich rübergebracht.

[2017-07-25 07:56] xwcg opened #19 "Intro Sequenz"
Ich würde gerne mal ideen sammeln für ne intro sequenz (würde ich definitiv auch selber machen).

Meine idee wäre dass man im splash/menü nach dem klick auf start game eine kamerafahrt macht.
Erst durch lottis arme wo man dann hinter dem beam so rauchwolken hat (so nen soft shader für rauchsprites wäre geil!) wo kleine statische szenen verteilt sind die so im "time freeze" effekt das zeigen was de

[2017-07-25 08:00] mk1x86 commented on #19
Ich glaube nicht, dass wir derzeit ne depth map haben, und die brauchen wir für soft particles.

An sich finde ich die Idee sehr cool. Braucht's dann noch Musik?

[2017-07-25 08:07] xwcg commented on #19
musik fände ich gut aber lass mich das erstmal machen dann kannst du die musik passend dazu timen :D

[2017-07-25 08:08] ikskuh commented on #17
Gelöst mit 063dc3a5dc23a69b740bcf23dfeba4efab43f67c

[2017-07-25 08:08] #17 closed, assigned to ikskuh

[2017-07-25 08:09] mk1x86 commented on #19
Okay, dann sei dir schon mal bewusst, dass die Hitpoints auf einem Raster sein sollten. Ich gehe einfach mal von 100 BPM, 4/4-Takt aus, weil es wohl was ruhigeres wird. Szenenwechsel etc sollten also auf Vielfachen von 60/100*4 = 2.4 Sekunden auftauchen.

[2017-07-25 08:18] ikskuh commented on #18
Steuerungs-Tutorial wurde in 57a3e4558939ac38713084b72923c76025437fae gelöst.

[2017-07-25 08:24] xwcg commented on #19
die kamera wird eher von szene zu szene fliegen, da wirds keine scharfen schnitte geben

[2017-07-25 08:26] ikskuh commented on #18
Teleporter-Info wurde mit 8036f086e8aaddbb9d9ee046dc062d36fc573a43 gelöst.

[2017-07-25 08:26] #18 closed, assigned to ikskuh

[2017-07-25 08:34] ikskuh commented on #15
Ich glaube, wir könnten das ganze balancen, in dem wir Invicibility-Frames einbauen. Manchmal wird man mit fast 60 Schaden innerhalb kürzester Zeit getroffen...

Mehr HP pro Stage fände ich ganz gut, eventuell auch einfach 5% oder 10% mehr Schaden pro Stage. Mit den I-Frames sollte das dann auch nicht zu übertrieben sein am Anfang

[2017-07-25 08:36] ikskuh commented on #19
Ne, haben wir nicht. Kann man aber sicher auch irgendwas zusammenfaken. Könnte ich mich mal dran versuchen, wenn die Szene steht

[2017-07-25 08:37] ikskuh commented on #7
Ich denke, die Zufriedenheit passt jetzt. Ich schließ das Topic mal

[2017-07-25 08:37] #7 closed, assigned to ikskuh, simonschreibt-code

[2017-07-25 09:00] mk1x86 commented on #15
Wer in Bedrängnis ist, ist selber Schuld. Ich würde keine I-Frames reinnehmen.

[2017-07-25 09:11] simonschreibt-code commented on #15
Finde ich auch OK, manchmal hat man einfach Pech bei Rouge-Likes, das gehört irgendwie dazu und da man sehr schnell ein neues Spiel starten kann, stört es auch nicht unbedingt wenn man schnell eine neue Runde spielt.

[2017-07-25 09:12] simonschreibt-code commented on #14
Finde ich gut! Ich habe nur das normale Turret-Verhalten vorgeschlagen, damit es nicht zu kompliziert wird. Meine Idee war die Minimal-Implementation aber ich wäre wir jedes Feature on top dankbar :)

Das Umbenennen in Guardian wäre sehr geil!

[2017-07-25 09:33] mk1x86 commented on #14
Hab mich mal assigned. Hoffe mal, dass ich heute abend Zeit dafür finde

[2017-07-25 09:48] simonschreibt-code commented on #14
Evtl. könnten wir auch noch ein elektronisches höhnisches Lachen einbauen oder so. Ein bisschen wie Shodan :D

[2017-07-25 09:59] ikskuh commented on #8
Multiplier wurde eingefügt (eec5f76b31aa182672a069e988725120cc9f425f). Wird alle 6 Sekunden resettet, steigert sich um 0.1 pro Kill (nicht Treffer, darum auch die 6 Sekunden)

[2017-07-25 09:59] #8 closed, assigned to ikskuh

[2017-07-25 10:03] xwcg commented on #19
wird sowieso dauern da ich erst heut abend wieder dran kann xD

[2017-07-25 10:10] simonschreibt-code commented on #19
Wird diese Szene abbrechbar sein? Ich frage nur, weil das sicher cool ist, aber wenn man schnell mal zocken will, will man evtl. nicht jedes mal 30s Intro sehen. :D

[2017-07-25 10:36] simonschreibt-code opened #20 "Intro/Menu für 1 Frame sichtbar bevor Fade-In losgeht"
Hier ist ein Beispiel dafür:

![fadein](https://user-images.githubusercontent.com/12360416/28568375-dd0ed48c-7135-11e7-9c1c-17a4fcfa046a.gif)

[2017-07-25 10:40] xwcg commented on #20
Spezifisch ist das aufgetreten als der bloom von irgendwem eingebaut wurde. Kann es sein dass die bloom init die camera auch anschaltet bevor die szene bereit ist? @MasterQ32 @Slin

[2017-07-25 10:43] simonschreibt-code opened #21 "Guardian ist weg, aber er steht immernoch als "active" da"
Ich töte den letzten Gegner und der Guardian verschwindet:

![guardian_gone](https://user-images.githubusercontent.com/12360416/28568569-9d4791e4-7136-11e7-939e-78ae6afa2c94.gif)

ABER, es steht immernoch "Guardian Active" da. Erst wenn ich das Item einsammle, wird der Guardian runtergefahren:

![guardian_shutdown](https://user-images.githubusercontent.com/12360416/28568637-cefd541c-7136-11e7-8951

[2017-07-25 10:45] xwcg commented on #19
natürlich, die menüsequenz ist ja auch abbrechbar

[2017-07-25 10:57] mk1x86 commented on #21
Wo ich es gerade sehe: sollte wohl auch eher right button oder right mouse button heißen.
und sollte nur im ersten stage kommen

[2017-07-25 11:17] xwcg commented on #21
@mk1x86  Wir könnten auch einfach die konvention von "LMB" und "RMB" benutzen, das sollte jeder checken der schon mal ein computerspiel gezockt hat

[2017-07-25 11:19] mk1x86 commented on #21
Denke ich auch

[2017-07-25 11:22] simonschreibt-code commented on #21
Falls möglich, könnte der Teleporter/Questgeber-Text auch die Text-Farbe vom Player benutzen. Da diese Infos durchaus Gameplay-Relevant sind und derzeit nicht sehr auffällig.

[2017-07-25 11:57] ikskuh commented on #20
Ich habs grade mal getestet, das hat nichts mit dem Bloom zu tun (habe den Init-Aufruf dazu rausgenommen)

[2017-07-25 12:07] ikskuh commented on #21
Habe LMB/RMB umgesetzt, Bug mit "Active/Shut Down" ist gefixed, Farben sind jetzt hell.

[2017-07-25 12:07] #21 closed, assigned to ikskuh

[2017-07-25 12:25] ikskuh commented on #20
Wurde gefixed, keine Ahnung, was das Problem war.

[2017-07-25 12:25] #20 closed, assigned to nobody

[2017-07-25 13:09] simonschreibt-code opened #22 "Erstes Beta-Tester Feedback"
Ich habe hier im Co-Working-Space mal zwei Leute draufgucken lassen und sie fanden es echt gut - vor allem für 2 Tage.

Feedback:

1. Die halb-transparenten Wände könnten besser wirken, wenn man die obere Glow-Outline auch dort sichtbar macht
2. Statt immer zwei Doppel-Punkte könnte man random Characters verschießen

Der, der gespielt hat, hat ohen Erklärung verstanden, dass er den Questmaster "be

[2017-07-25 18:20] mk1x86 commented on #11
Fixed in https://github.com/Acknex/LottiVersusTheWorld/commit/e0ac1b6761e40804ba5283747655f8a75e681d1a

[2017-07-25 18:20] #11 closed, assigned to mk1x86

[2017-07-25 18:25] mk1x86 opened #23 "Sphere of Death braucht Todessound"
Reminder für mich selbst

[2017-07-25 18:30] mk1x86 opened #24 "Sorting issue"
![image](https://user-images.githubusercontent.com/4849383/28587599-0bfdea70-7178-11e7-85ce-ca07ffc3c145.png)
Da läuft irgendwas schief. Kann einer der Shader-Guys mal draufgucken?

[2017-07-25 18:58] Slin commented on #24
Jo, da müssen wir die vorderen und hinteren wände getrennt rendern, die hinteren wände mit den meisten Objekten im solid pass und die anderen wände zusammen mit Maske und den meisten anderen dingen mit additivem blending im translucent pass. Außerdem sollten die additiv geblendeten Sachen nicht in den depth buffer schreiben (tut die Maske offenbar...).

[2017-07-25 19:20] ikskuh commented on #24
Ja, ich hatte das Problem gestern auch und hab die Maske in Z schreiben lassen, danach sind bei mehreren TEstläufen überhaupt keine sorting-fehler mehr aufgetreten. Man könnte auch die Sortierreihenfolge manuell anpassen (`d3d_entsort = 0`)

[2017-07-25 21:20] xwcg commented on #19
so voice assets sind schonmal fertig, coden fange ich dann morgen mal an

[2017-07-26 10:45] simonschreibt-code opened #25 "Adding Flickering to HEX Endboss"
Ich hatte die Ideen, dass wir, wenn der HEX Endboss verschwindet, für ihn die LUT Textur innerhalb von 1s von links nach rechts durchwandern. Ich habe die Textur mal verändert und damit würden wir ihn ein bisschen flackern und  die Farben verändern lassen :) Meint ihr, das wäre möglich?

![image](https://user-images.githubusercontent.com/12360416/28617334-416343ee-7200-11e7-8332-4143e121fc11.png)

[2017-07-26 10:51] simonschreibt-code opened #26 "Löcher sollten normale Objekt-Farben bekommen"
Da die Löcher keinen Gameplay-Aspekt haben (also z.B. keinen Schaden machen) wäre es besser, wenn sie nicht mehr rot als Farbe benutzen sondern eine der Objekt-Farben aus der LUT.

Was denkt ihr?

[2017-07-26 10:54] xwcg commented on #26
Bin dafür

[2017-07-26 10:57] mk1x86 commented on #26
+1

[2017-07-26 11:09] simonschreibt-code commented on #26
Supi :) Nun brauchen wir nur jemanden der Objekt Color 1 oder 2 dafür im Code benutzt. Mal schauen welche Farben besser aussehen :)

![image](https://user-images.githubusercontent.com/12360416/28618161-afacaaea-7203-11e7-8c4b-e3005f30e35c.png)

[2017-07-26 21:46] mk1x86 commented on #3
Musik ist da. @evil-lemming: du bist am Zug

[2017-07-26 23:19] firoball opened #27 "Miese Performance bei späteren Levels"
Ursache liegt anscheinend im kontinuierlichen Render to Texture Prozess der Marker.

Script wird angepasst, so dass die betroffenen Textobjekte bei Entfernen der Entity ebenfalls geshreddert werden (wird die target_map jeden Frame aktualisiert auch wenn sich der Text nicht ändert?).
Zusätzlich ein Distance Check, damit in einem Level nur die aktuell relevanten Marker bearbeitet werden.

Performanc

[2017-07-26 23:21] #27 closed, assigned to nobody

[2017-07-26 23:28] firoball commented on #26
Ich hab noch eine Idee für Löcher die ich gerne ausprobieren würde. Also lasst bitte das Fallen Rot vorerst mal noch. Falls die Idee nicht hinhaut, dann sollten wir das umändern

[2017-07-26 23:42] mk1x86 commented on #16
Scheint noch gar kein Object-Material zu verwenden? Bin da aber nicht drin genug, um das zu korrigieren

[2017-07-26 23:44] firoball opened #28 "Fehlende Sounds für "Quest angenommen" und "Questitem eingesammelt""
Im Code (quest.c) sind die Sounds schon angelegt, derzeit werden aber einfach die Turret Sounds verwendet.

[2017-07-26 23:45] firoball opened #29 "Anpassung Questitems und Questtexte"
Reminder.

[2017-07-27 06:23] simonschreibt-code commented on #16
Sie sollten zumindest die Trap-Colors benutzen. @MasterQ32 Kannst du da etwas erkennen bezüglich Code und Zuweisung?

[2017-07-27 07:12] ikskuh commented on #16
Die Türme verwenden ein leicht verändertes Boden-Material, damit sie in den Tarn-Modus gehen können. Man könnte hier, ähnlich wie bei den anderen Objekten, ein Aufblitzen erzeugen, dann würde aber auch die Bodenplatte mitblitzen.

Wenn das nicht gewollt ist, braucht man noch eine Alpha-Maske, welche Boden und restlichen Turm separiert

[2017-07-27 07:14] ikskuh commented on #9
Was man auch machen könnte (und was auch keine edge split faces bräuchte), ist, dass der Spieler sich kurz aufbläht und dann schmilzt... Nur so als Gedanke

[2017-07-27 07:16] ikskuh commented on #29
Ich hab mir da schon Gedanken dazu gemacht, aber die neuen Quest-Objekte sind eher undefiniert. Vielleicht möchte sich @Hen-woll dazu mal äußern, was das eigentlich darstellen soll?

[2017-07-27 07:28] xwcg opened #30 "Intro Musik"
Prophylaktisch zum Testen dieses Projektfeatures. Sollte quasi das allerletzte sein das gemacht werden muss

[2017-07-27 07:35] xwcg commented on #12
Könnte man unter umständen einfach die Polygone random ausblenden? Zerfallen ist zwar nett aber das ding nochmal in hard edges zu machen ist wahrscheinlich zu viel aufwand

[2017-07-27 07:40] xwcg commented on #2
Ich wäre ja dafür das man keinen vollbild deathscreen bekommt sondern der bildschirm etwas abdunkelt, das bildchen zu sehen ist und dann ein in-game menü kommt vonwegen "nochmal" oder "exit game" (das ding wieder vom spiel ins menü zu wechseln traue ich mir jetzt nicht zu)

[2017-07-27 07:40] ikskuh commented on #12
Ne, leidet an der selben Krankheit. Wenn dann könnte man anfangen, einzelne Vertices auszublenden...

[2017-07-27 07:41] xwcg opened #31 "In-Game menü"
Ein kleines minimales in-game menü

Kriegen wir so nen pause-state hin?

[2017-07-27 07:43] xwcg commented on #12
das hoffentlich auch dazu führt dass die damit assoziierten polygone verschwinden? ^^

[2017-07-27 07:49] ikskuh commented on #12
Ja, könnte passieren. Sieht dann halt weird aus, wenn das ganze nicht irgendwie gleichmäßig passiert, Kann halt sein, dass gleich ganz große flächen verschwinden oder nur ein kleiner kreis

[2017-07-27 08:13] xwcg commented on #12
wenns schnell genug passiert fällt das niemandem auf, länger als 1 - 2 sekunden würde ich das auch nicht machen lassen.

[2017-07-27 09:52] mk1x86 commented on #16
Dann blitzt halt alles auf, finde ich nicht schlimm

[2017-07-27 10:07] mk1x86 commented on #30
Mhm, wenn die Musik getimed sein soll, sollte die möglichst schnell stehen. Zumindest der Tempotrack. Ausfüllen kann ich das dann später noch

[2017-07-27 10:24] simonschreibt-code commented on #16
Ja genau, Gameplay > Grafik. Lass es einfach blitzen :)

[2017-07-27 10:26] simonschreibt-code commented on #12
Im Notfall nehmen wir einfach einen Vorhandenen Explosions-Partikel-Effekt, färben die Partikel grün und machen den Effekt evtl noch 150% größer. Das könnte zumindest schonmal eine Minimal-Implementation sein.

[2017-07-27 10:27] simonschreibt-code commented on #2
Bzw. könnte dort die Highscore zu sehen sein.

[2017-07-27 16:36] firoball opened #32 "Improve Quests"
Ich habe einige Verbesserungen eingebaut. Primär irrelevantes eye Candy. Kann aktuell leider wegen Internet Problemen nicht pushen.
Bitte am Quest Code erstmal nichts ändern.

Hab noch einige andere Sachen gefixt, kommt dann alles sobald mein Internet wieder funktioniert

[2017-07-27 18:12] mk1x86 commented on #28
Generischer Sound oder Sprache?

[2017-07-27 20:55] firoball commented on #26
In meiner aktuellen Version bremsen die Löcher die Geschwindigkeit des Spielers - außer man springt rechtzeitig. Hat relativ wenig Einfluss aufs Gameplay, kann aber bei hektischen Situationen ne schöne fiesigkeit entwickeln

[2017-07-27 21:02] firoball commented on #12
Kann man das freundchen nicht vom Brett wichsen, beim Aufprall auf den Boden schnell removen und direkt ein paar tausend Dreiecke mit random scale Winkel drall und Richtung spawnen?

[2017-07-27 21:18] #23 closed, assigned to mk1x86

[2017-07-27 21:24] simonschreibt-code commented on #26
Klingt sehr spannend! Ist es schon eingechecked?

[2017-07-27 21:35] firoball commented on #28
Bisher ist für generisch ausgelegt. Reicht auch denke ichAm 27.07.2017 8:12 nachm. schrieb mk1x86 <notifications@github.com>:Generischer Sound oder Sprache?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-07-27 21:37] firoball commented on #26
Noch nicht gepusht. Vodafone hat mir das Internet gekillt und kriegts nicht mehr zum laufen... -_-Am 27.07.2017 11:24 nachm. schrieb ilegacy <notifications@github.com>:Klingt sehr spannend! Ist es schon eingechecked?

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-07-27 21:56] simonschreibt-code commented on #13
Ich glaube das hier ist so minimal, das kann auch closed werden, oder?

[2017-07-27 21:56] simonschreibt-code commented on #22
Das Feedback sollte mittlerweile jeder gelesen haben, den es interessiert. Daher close ich das mal.

[2017-07-27 21:56] #22 closed, assigned to nobody

[2017-07-27 21:58] simonschreibt-code commented on #3
Da sich hier nicht viel getan hat, schlage ich zwei Varianten vor.

**Minimal**
Wir blenden einfach ein Bild ein, auf dem unsere Namen stehen.

**Bonus**
Wir lassen ein Level erstellen, packen es voller (nicht-feindlicher) Fledermäuse wobei jede einen anderen Namen trägt.

[2017-07-27 21:59] simonschreibt-code commented on #9
Ich denke wir sind an nem guten Stand und sollten langsam fertig werden. Der Teleport ist schon so super, ich glaube der braucht keine weiteren Features. Close?

[2017-07-27 23:20] #13 closed, assigned to Hen-woll

[2017-07-27 23:35] #30 closed, assigned to mk1x86

[2017-07-28 06:49] ikskuh commented on #9
Ich frage mich, was mein Kommentar da zu suchen hat ^^ Eigentlich sollte der zur Todesanimation.

Fehlt halt nur noch das angepasste Skin

[2017-07-28 06:52] ikskuh commented on #3
Ja, den @evil-lemming hats krankheitstechnisch erwischt.

Ich würde am WE einfach ein einfaches Credits-Ding machen (Text-Scroller), wobei mir die Idee mit den Fledermäusen echt gut gefällt!

[2017-07-28 07:56] simonschreibt-code commented on #9
Was meinst du mit dem Skin? Wir haben die Teleport-Textur umgestellt und der benutzt jetzt das RGB-System :)

[2017-07-28 08:01] mk1x86 commented on #3
Also scroll sollte rein und im infinite typing lottery gab's auch was für getimete Lyrics, das wäre gut

[2017-07-28 09:08] ikskuh commented on #9
Die Textur benutzt das RGB-System, das Modell nicht:

![](https://puu.sh/wVdDR/ed27b43a2d.png)

Die Textur ist nicht auf "extern" eingestellt, ich ändere das jetzt mal...

[2017-07-28 09:17] ikskuh commented on #9
Ingame sieht das ganze mit der richtigen Textur dann so aus:

![](https://puu.sh/wVe1S/8a9b84127d.png)

[2017-07-28 09:17] ikskuh commented on #9
Eventuell sollte man die Textur lieber auf PNG mit Alpha umstellen, da im Moment der ganze Teleporter leuchtet

[2017-07-28 09:25] ikskuh commented on #3
Joar, würde ich beides "neu" machen...

Für die getimten Lyrics, könntet ihr mir da ein CSV(';') oder ähnliches liefern? Credits würde ich auf ähnlicher Basis basteln, damit wir das ordentlich wiederverwenden können... :)

[2017-07-28 09:45] ikskuh commented on #3
Einfach mal böse alle highlighten:
@slin @xwcg @padmalcom  @evil-lemming @firoball @mk1x86 @pjen @ilegacy @Superku @Hen-woll
Möchtet ihr mit eurem echten Namen, eurem Handle oder beidem in den Credits auftauchen? Ich persönlich würde bevorzugen, dass alle mit "Vorname (Handle) Nachname" in den Credits stehen

[2017-07-28 10:27] firoball commented on #3
"" statt ()Am 28.07.2017 11:45 vorm. schrieb Felix Queißner <notifications@github.com>:Einfach mal böse alle highlighten:
@Slin @xwcg @padmalcom  @evil-lemming @firoball @mk1x86 @pjen @ilegacy @Superku @Hen-woll
Möchtet ihr mit eurem echten Namen, eurem Handle oder beidem in den Credits auftauchen? Ich persönlich würde bevorzugen, dass alle mit "Vorname (Handle) Nachname" in den Credits stehen

—Y

[2017-07-28 10:28] simonschreibt-code commented on #9
Die LUT unterstützt auch Alpha und daher sollte man das auch via LUT einstellen können. Ich habe mal extra Teleporter Farben hinzugefügt:

![image](https://user-images.githubusercontent.com/12360416/28713639-2dd34356-7390-11e7-88aa-606cf4207195.png)

Könnten wir das auf diese Farben umstellen? :)

[2017-07-28 10:30] simonschreibt-code commented on #3
Von mir aus OK :) Kannst bei mir gern das machen, da der nick irgendwie verbreiteter ist als ilegacy,

Simon "simonschreibt" Trümpler

[2017-07-28 11:33] ikskuh commented on #9
Dürfte jetzt passen:

![](https://puu.sh/wViFt/b0edf40abc.png)

[2017-07-28 12:04] simonschreibt-code commented on #9
Danke sehr! Ich kann das noch ein bisschen tweaken, aber ich denke das Issue können wir schonmal closen :)

[2017-07-28 12:04] #9 closed, assigned to ikskuh, simonschreibt-code, Hen-woll

[2017-07-28 12:27] mk1x86 commented on #24
hä? was denn nu?

[2017-07-28 12:41] firoball commented on #26
Ächz... Ich Krieg nen neuen Kabel Router. Bin also wohl noch ein paar Tage offline. Ich schau Mal ob ich von woanders mein Report pushen kann die Tage. Wenn ich zu lange warte wird der merge richtig ätzend. Ich hab viele kleine fixes in vielen Files gemacht.

[2017-07-28 12:51] mk1x86 commented on #26
nutz dein Handy als wlan ap? die paar MB werden doch bestimmt gehen

[2017-07-28 13:22] firoball commented on #26
Kostet mich Aufpreis. Aber ich finde die Tage ne LösungAm 28.07.2017 2:51 nachm. schrieb mk1x86 <notifications@github.com>:nutz dein Handy als wlan ap? die paar MB werden doch bestimmt gehen

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-07-28 13:45] Superku commented on #3
Jo finde auch die "Vorname (Handle) Nachname" Kombination am besten.

[2017-07-28 14:06] ikskuh commented on #3
Credits coding geht btw sehr gut voran, nur @firoball wirft einem mit seinem doofen `type`-define große Steine zwischen die Beine.....
Ich frage mich, warum der Kack die ganze Zeit speicher leakt und einfach nicht ordentlich funktioniert.... Dabei hab ich irgendwo ein 0 byte großes array anstelle eines integers verwendet... GRAH!

![](https://puu.sh/wVnzA/c0a9fe92d1.png)

[2017-07-28 14:07] ikskuh commented on #3
Ach ja, @xwcg, was ich noch brauche, wäre eine Funktion, um ins Hauptmenü zurückzukehren... ;)

[2017-07-28 14:11] ikskuh opened #33 "Ordentliches Escape-Handling"
Was soll bei Escape passieren?

- Spiel einfach tot?
- Zurück ins Hauptmenü?
- ....

Siehe auch #31 (Ingame-Menü)

[2017-07-28 14:11] ikskuh commented on #16
Turm hat Trefferfeedback, Thema abgehakt!

[2017-07-28 14:12] simonschreibt-code commented on #33
Spontaner Gedanke: Zurück ins Hauptmenu. Dort würde Esc dann das Spie beenden, drückt man es nochmal.

[2017-07-28 14:21] mk1x86 commented on #33
Ingame menü, resume, exit to system, exit to main menu

[2017-07-28 14:22] mk1x86 commented on #1
Highscore kann auch im Hauptmenü angezeigt werden

[2017-07-28 14:29] Slin opened #34 "UI an Auflösung anpassen"
Menü und UI ist viel zu klein bei hoher Auflösung. Außerdem sind Titel und Game Over Screen ziemlich pixelig und könnte eine deutlich höhere Auflösung vertragen.

[2017-07-28 14:31] Slin opened #35 "Nahkampf-Gegner verbessern"
Oft treffen diese nicht, auch wenn ich einfach nur da steh und versuche mich treffen zu lassen. Außerdem bleiben sie immer am Teleporter hängen.

[2017-07-28 14:39] ikskuh commented on #3
Mit dem Commit ebb6149d07a5a2d0cfd360074bfdcebfe1c64338 haben wir jetzt theoretisch funktionierende, grundlegende Credits...

Wer möchte, darf seinen Eintrag in der `credits.dat` gerne noch ein wenig aufblasen und das ganze generell etwas erweitern.

Zudem fände ich wie bei Morbius das ganze mit ein paar Bildeinwürfen ganz cool, haben wir da welche?

[2017-07-28 14:54] firoball commented on #34
Splash Auflösung unabhängig hab ich schon eingebaut Am 28.07.2017 4:29 nachm. schrieb Nils Daumann <notifications@github.com>:Menü und UI ist viel zu klein bei hoher Auflösung. Außerdem sind Titel und Game Over Screen ziemlich pixelig und könnte eine deutlich höhere Auflösung vertragen.

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitH

[2017-07-28 14:56] firoball commented on #3
Hör auf zu meckern und heul nicht rum.Am 28.07.2017 4:06 nachm. schrieb Felix Queißner <notifications@github.com>:Credits coding geht btw sehr gut voran, nur @firoball wirft einem mit seinem doofen type-define große Steine zwischen die Beine.....
Ich frage mich, warum der Kack die ganze Zeit speicher leakt und einfach nicht ordentlich funktioniert.... Dabei hab ich irgendwo ein 0 byte großes array

[2017-07-28 14:58] mk1x86 commented on #35
Bats sollten immer treffen, die machen nämlich nur einen Distanzcheck. Das sollten wir bei den anderen vielleicht auch so machen

[2017-07-28 15:00] mk1x86 commented on #3
Ist mir auch schon passiert mit damage. Für nächstes Jahr wissen wir es besser. dann machen wir defines für skills mit einem s-Prefix und schreiben alle skills in eine Datei, damit wir uns nicht gegenseitig beharken

[2017-07-28 15:08] ikskuh commented on #3
Die Skills stehen ja schon in einem File, aber trotzdem sollten etwas bessere Code-Guidelines her. Ich bevorzuge, dass defines in ALLCAPS geschrieben sind, damit man sie gar nicht erst ausversehen "erwischen" kann, ohne daran zu denken. Das ist grade bei multi-programmer-projekten ganz praktisch, zu wissen, ob etwas funktion, variable oder define ist

[2017-07-28 18:25] simonschreibt-code commented on #16
Gerade ein Problem gesehen: Wenn der Turret blinkt während er stirbt, bleibt er weiss im level :(

![image](https://user-images.githubusercontent.com/12360416/28731099-d50b0928-73d2-11e7-9a7d-4b52e6b9bb5a.png)

[2017-07-28 18:52] ikskuh commented on #16
Sollte gefixed sein, plz confirm

[2017-07-28 22:35] mk1x86 commented on #16
funktioniert, aber neues Issue

[2017-07-28 22:35] #16 closed, assigned to ikskuh

[2017-07-28 22:35] mk1x86 opened #36 "Turm kann nicht durch Granate zerstört werden"

[2017-07-28 22:36] mk1x86 commented on #26
Hier ist irgendwas passiert. momentan hat das Ding vollkommen falsche Farben

[2017-07-28 22:51] firoball commented on #36
Der Event Trigger wird prinzipiell empfangen und manchmal geht das auch. Evtl. Ist das turret Zentrum zu tief?Am 29.07.2017 12:35 vorm. schrieb mk1x86 <notifications@github.com>:

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-07-28 22:55] mk1x86 opened #37 "Config.h fehlt"
Netterweise ist die sogar in .gitignore @MasterQ32.
Also am besten mit reinnehmen oder Eintrag entfernen

[2017-07-28 22:57] mk1x86 commented on #3
Ich schließe jetzt erstmal, weil wir damit eine lauffähige Version haben. Wer noch Zeit investieren möchte, kann das natürlich gerne tun.

[2017-07-28 22:57] #3 closed, assigned to xwcg, ikskuh, evil-lemming

[2017-07-29 07:56] ikskuh commented on #37
Der gedanke der `config.h` ist, dass man damit bequemer seine Debug-Einstellungen haben kann, ohne die jedes mal mitzucommitten bzw. überhaupt das ganze versehentlich machen zu können.

Bei mir stehen folgende Sachen drin:
[code]

So wie ich das beobachtet habe, ist es auch "egal", dass die Datei nicht existiert, der Compiler wird zwar meckern, aber weiter machen.

[2017-07-29 08:17] mk1x86 commented on #37
Ja, ist aber trotzdem komisch. Kann ja von mir aus leer sein, aber da sein sollte sie schon

[2017-07-29 08:18] ikskuh commented on #37
Sobald sie halt da ist, kann nicht jeder seine eigene config.h haben, ohne sie irgendwie nervig zu entkoppeln

[2017-07-29 08:20] mk1x86 commented on #37
Einfach nicht committen, das bekommt man doch wohl hin

[2017-07-29 08:21] ikskuh commented on #37
Das wäre aber viel mehr arbeit... *jammer*

[2017-07-29 08:22] mk1x86 commented on #37
Besser als Code, der eigentlich nicht kompilieren sollte

[2017-07-29 08:27] ikskuh commented on #37
So, ich habe jetzt eine Datei angelegt, in der ein mehr aufwändiger Weg steht, wie man das jetzt hinbekommt. Ich werde jeden! Commit der in dieser Datei Änderungen macht, reverten. Egal, was sonst noch dabei ist.

[2017-07-29 08:27] #37 closed, assigned to ikskuh

[2017-07-29 09:37] firoball opened #38 "Bat Code von enemy trennen"
Das habe ich lokal bereits gemacht, zusammen mit einem aufräumen der Gegner includes. Den bat Code falls möglich aktuell bitte nicht anfassen, ich habe heute vielleicht eine Möglichkeit zu pushen... Sorry wegen der Umstände, bin wohl bis in die nächste Woche rein offline

[2017-07-29 13:28] xwcg commented on #33
gibts hier schon: #31

[2017-07-29 13:28] #33 closed, assigned to nobody

[2017-07-29 16:06] xwcg opened #39 "Sputnik versinkt im boden"
Aus nem commit von @Hen-woll der es wohl leider nicht gebacken kriegt auf den "new issue" knopf zu drücken:

[2017-07-29 16:49] #38 closed, assigned to nobody

[2017-07-29 16:51] firoball commented on #26
Es ist oben bei der entity Action eine seltsame Material Zuweisung bei drin. Ich hab die Mal dringelassen beim merge. Farbe auch bei mir seltsam, Code ist für altes Material angepasst.

[2017-07-29 16:56] #32 closed, assigned to nobody

[2017-07-29 16:59] ikskuh opened #40 "Marker fehlen komplett"
![](https://puu.sh/wWhhO/135e768310.png)

@firoball seit deinem Merge sehe ich keine Marker mehr.

[2017-07-29 17:09] ikskuh commented on #26
Habe wieder das alte Material zugewiesen, sieht jetzt so wie es ist, gut aus.

[2017-07-29 17:09] #26 closed, assigned to nobody

[2017-07-29 17:26] firoball commented on #40
Möglicherweise ist der Auto merge irgendwo schief gegangen. Marker_toggle sollte nur in der init.c hängen... Glaube ich. Konnte nicht testen, müsste blind pushen :oAm 29.07.2017 6:59 nachm. schrieb Felix Queißner <notifications@github.com>:
@firoball seit deinem Merge sehe ich keine Marker mehr.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or

[2017-07-29 17:34] ikskuh commented on #40
fixed

[2017-07-29 17:34] #40 closed, assigned to nobody

[2017-07-30 08:16] firoball opened #41 "Erweiterung Tutorial"
Da das springen bei den Löchern einen effektiven nutzen hat, sollte SPC: JUMP noch mit angezeigt werden

[2017-07-30 08:28] mk1x86 commented on #39
Ich habe ehrlich gesagt nie einen Fehler gesehen

[2017-07-30 08:34] firoball commented on #39
Mir ist ebenfalls nie was aufgefallen. Im Zweifelsfall einfach z clampen?Am 30.07.2017 10:28 vorm. schrieb mk1x86 <notifications@github.com>:Ich habe ehrlich gesagt nie einen Fehler gesehen

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-07-30 08:39] firoball commented on #29
Bei mir ist ein einziges Mal der questmaster außerhalb des Levels gespawnt. Ist das sonst noch wem passiert? Haben wir da evtl noch ein Problem mit der prozeduralen positionsermittlung?

[2017-07-30 09:03] mk1x86 commented on #29
Bei mir noch nie

[2017-07-30 09:53] ikskuh commented on #41
Resolved in 68fc6bcf2b54f5462c9146c9c09722f29c4e223a

[2017-07-30 09:53] #41 closed, assigned to nobody

[2017-07-31 10:51] simonschreibt-code commented on #36
Also ich habe eben Türme via Granate zerstört ...

[2017-07-31 10:52] simonschreibt-code commented on #39
Ich glaube mir ist es auch noch nie aufgefallen.

[2017-07-31 21:42] xwcg commented on #19
Ich bin bis zum 7. auf LARP; werde danach aber das intro fertig bauen

[2017-08-01 09:39] simonschreibt-code commented on #19
Viel Spaß! Ich würde vorschlagen: Diese Woche können alle noch arbeiten, aber sobald du wieder da bist schließen wir alle Issues außer Intro und Highscore und dann tüten wir das ganze ein?

Btw.: HAMMER CREDIT SONG! :) I love it!

[2017-08-01 23:58] mk1x86 commented on #14
fixed

[2017-08-01 23:58] #14 closed, assigned to mk1x86

[2017-08-02 00:01] mk1x86 commented on #24
Also ich habe das Z-Writing wieder deaktiviert, das macht gar keinen Sinn. Was ich nicht verstehe: Die Wände sind nicht transparent (oder sollten es nicht sein?), trotzdem gibt es da sorting Probleme...

[2017-08-02 08:38] simonschreibt-code commented on #24
Meine Vermutung: Es gibt nur ein Wandstück. Damit die Rückseite halbtransparent sein kann, sind auch die Vorderseiten transparent aber eben mit 0%?

[2017-08-02 10:48] firoball opened #42 "Release Reminder: Auf real fullscreen umstellen"
Hintergrund: Im Fake Fullscreen verdeckt die Taskleiste das HUD und macht dieses damit ziemlich überflüssig. Außerdem sieht es nicht gut aus.
Fürs Release macht es Sinn, das anzupassen.

Ist eine Möglichkeit vorgesehen, per Menü die Auflösung zu ändern? Ansonsten plädiere ich dafür, die Standard F5/Shift-F5 Funktionalität wieder zu aktivieren

[2017-08-02 11:47] Slin commented on #24
Es ist eigentlich recht einfach: Erst wird die nicht transparente Seite der Wand gerendert und dann die Transparente Seite und alles andere davor und danach. D.h. transparente Dinge die vor den Wänden gerendert werden (und weil transparent nicht in den Depth buffer schreiben) werden überschrieben und nicht transparente Dinge, die danach gerendert werden überschreiben die transparenten Wände.

Die

[2017-08-02 12:12] mk1x86 commented on #42
Easy fix

[2017-08-02 12:14] mk1x86 commented on #24
Ja, Trennung muss sein. Gut zu wissen

[2017-08-02 12:15] mk1x86 commented on #15
Closen?

[2017-08-03 20:11] mk1x86 opened #43 "@lemming"
@evil-lemming Wo ist die wmp vom Credits-Level? Die brauche ich... dringend... jetzt!

[2017-08-03 20:46] mk1x86 commented on #42
fixed in fad155b

[2017-08-03 20:46] #42 closed, assigned to nobody

[2017-08-03 20:52] #36 closed, assigned to nobody

[2017-08-11 08:45] firoball commented on #19
Wie schauts aus mit dem Intro? Langsam sollten wir echt mal den Release raushauen, und danach dann in Schockstarre verfallen ;)

[2017-08-11 08:46] firoball commented on #29
Gibt es schon eine Liste der Modelle sowie deren Bezeichnung von @Hen-woll ?
Dann könnte ich die Quests endlich finalisieren.

[2017-08-11 08:47] firoball commented on #28
Falls die Sounds bereits existieren, bitte kurz die Filenamen durchgeben, damit ich das anpassen kann

[2017-08-11 08:52] firoball commented on #1
Mein Vorschlag wäre: Statt dem error() Output einfach den GUI Dialog triggern und den Highscore vermelden. Ansonsten einfach im Hauptmenü wie von @mk1x86 vorgeschlagen anzeigen.

[2017-08-11 08:52] firoball commented on #35
Ist das noch offen? Ich habe das Gefühl, da hat schon jemand dran rumgeschraubt und man wird jetzt öfter getroffen.

[2017-08-11 08:58] firoball commented on #15
Ich plädiere für zu und ab damit. Spielt sich mittlerweile gut genug :D

[2017-08-11 10:03] ikskuh commented on #1
Ich hab mal den Dialog durch den Ingame-Dialog ersetzt, man bekommt jetzt die Highscore-Meldung im Spiel.
Mal gucken, wie ich den Kram ins Hauptmenü bekomme...

[2017-08-11 10:23] ikskuh commented on #1
Resolved in e5b97f8598da8303ee99c1f119197cdf725571db, falls jemand was an den Fonts machen möchte, bitteschön, mir reicht das so.

[2017-08-11 10:23] #1 closed, assigned to ikskuh

[2017-08-11 14:51] xwcg commented on #19
Würde ich jetzt am wochenende machen, hab sonst noch keine zeit gefunden

[2017-08-11 22:47] mk1x86 commented on #19
Hendrik ist dran, hat fast alle Bilder fertig

[2017-08-11 22:48] #15 closed, assigned to nobody

[2017-08-11 22:48] mk1x86 commented on #35
Find's auch okay, closed

[2017-08-11 22:48] #35 closed, assigned to nobody

[2017-08-11 22:48] mk1x86 commented on #28
Nein, kommt morgen

[2017-08-12 08:59] ikskuh commented on #2
Ich denke, so wie es grade ist, ist das völlig ausreichend, oder?

[2017-08-12 09:20] ikskuh commented on #39
Fällt mir ebenfalls nicht auf, würde closen

[2017-08-12 09:27] ikskuh commented on #31
Habe jetzt ordentliches Escape-Routing eingebaut:

**Im Hauptmenü**: Spiel beendet sich
**In den Credits**: Spiel kehr zurück ins Hauptmenü
**Im Spiel**: Spiel zeigt Game Over Screen, kehrt dann zurück ins Hauptmenü

Für das Intro soll sich @xwcg darum kümmern...

[2017-08-12 09:27] #31 closed, assigned to xwcg

[2017-08-12 09:30] #39 closed, assigned to nobody

[2017-08-12 09:30] #2 closed, assigned to nobody

[2017-08-12 09:31] mk1x86 commented on #31
Intro sind Henrik und ich dran

[2017-08-12 09:32] mk1x86 opened #44 "Die letzten Dinge, getan werden"
Henrik macht die Bilder für's Intro, ich werde das noch zusammenstricken. Außerdem würde ich ganz gerne das Credits-Level ändern, das sieht arg langweilig aus und ist was hell. Da sieht man die Schrift schlecht drauf.

[2017-08-12 09:34] ikskuh commented on #44
Ich hab @evil-lemming grade gesagt, er möge doch asap mal das WMP hochladen, macht er nach dem Einkaufen...

Wie würdest du das credits-level machen? Man könnte ja auch einfach eine STAGE manuell hartcoden und nicht generieren lassen und dann einfach das als Hintergrund verwenden oder so

[2017-08-12 09:35] mk1x86 commented on #44
Ne, ich fand die Idee schon gut mit dem runden Raum, aber ich würde halt paar Fotos als Poster an die Wand kleben. Also quasi, wie wir das Spiel entwickelt haben

[2017-08-12 09:36] ikskuh commented on #44
Ah, auch ne geile Idee!

[2017-08-12 12:58] evil-lemming commented on #43
Sorry, dass es so lange gebraucht hat. Ist jetzt commited.

[2017-08-12 12:58] #43 closed, assigned to nobody

[2017-08-12 19:02] mk1x86 commented on #24
@MasterQ32 machst du das noch? Ich bin in dem Code nicht drin.

[2017-08-12 21:45] ikskuh commented on #24
Puh, gute Frage. Ist schon unsäglich scheiße für mich grade, das Spiel zu debuggen, da ich ca. 30-45 SEkunden compilierzeit habe, Wine zickt da unglaublich rum bei Gamestudio. Aber ich kann mich morgen mal ransetzen...

Was muss gemacht werden? (Bitte nochmal korrigeren o.ä.)
- Wände duplizieren
- Wand A mit Shader A versehen, der "früh" gezeichnet wird
- Wand B mit Shader B versehen, der "spät" g

[2017-08-12 22:36] mk1x86 commented on #24
nicht duplizieren, auftrennen. Also A alle Vorderseiten, B alle rückseiten. Und den einen einfach im solid pass

[2017-08-12 22:37] mk1x86 commented on #44
Credits und Intro sind angepasst. Wenn da keiner was dagegen hat, deklariere ich das jetzt als fertig. Wenn @Hen-woll noch Lust hat, können in ein paar Bilder ja noch mehr Details rein

[2017-08-12 23:38] ikskuh commented on #19
Ich hab mir das grade mal angeschaut, sieht ja richtig geil aus!

[2017-08-12 23:55] evil-lemming commented on #44
Ich hab nochmal was an den Credits geändert. Aus jedem Monitor wackelt einem jetzt der Warlock entgegen.
edit:// Ursprünglich gab es ein Problem damit.

[2017-08-13 05:54] mk1x86 commented on #44
Kann noch einer der Programmierer das intro richtig verdrahten?

[2017-08-13 08:44] firoball opened #45 "Teleporter Sound Endless Loop"
Wenn man per ESC das Level Richtung Menü verlässt, während man gerade teleportiert, bleibt der Teleportsound dauerhaft hängen.
--> Beim Beenden des Levels sicherstellen, dass der Sound gekillt wird.

[2017-08-13 08:48] firoball commented on #34
Ich schau mir das nochmal an, sobald ich die finalen Sounds und Items für die Quests habe.

[2017-08-13 09:07] mk1x86 commented on #34
Werde ich erst heute Abend zu kommen, weil ich den Tag über unterwegs bin. War gestern noch mit intro und credits beschäftigt

[2017-08-13 09:14] firoball opened #46 "Kein Release Build möglich!"
Irgendetwas wurde kürzlich eingebaut, das beim Release Build massive Probleme verursacht. Es wird ein Invalid Pointer in main gemeldet sowie irgendwas mit einer kaputten directive.

Ein Schnellcheck nach relativen Pfaden verlief negativ. Also bitte jeder, der kürzlich irgendwas spezielles eingebaut hat, dringend mithelfen bei der Suche was das sein könnte. Ich habe noch eine verbesserte build.bat

[2017-08-13 10:03] ikskuh commented on #24
Naja, duplizieren wäre eben ähnliches ergebnis, nur einmal eben mit "front side rendering" und einmal mit "backside rendering". dürfte sich sogar positiv auf die performance auswirken, da nur zweimal das selbe mesh und nicht zwei verschiedene meshes gerendert werden...

[2017-08-13 11:06] ikskuh commented on #24
Resolved in 6be57bc23c19840e6a6ac20ddfb926041a7a9db0

[2017-08-13 11:06] #24 closed, assigned to Slin

[2017-08-13 11:08] ikskuh commented on #44
Was genau soll da gemacht werden?

[2017-08-13 11:49] mk1x86 commented on #44
Das intro ist momentan auf einem button, aber es sollte mit in start integriert werden. Ich weiß auch nicht, was nach dem intro momentan passiert

[2017-08-13 11:50] mk1x86 commented on #46
Kann erst heute Nacht gucken, aber werde dann was machen

[2017-08-13 11:55] ikskuh commented on #45
Resolved in 92f15892f5dc2998f27d2e3b3073f07e483e15e0

[2017-08-13 11:55] #45 closed, assigned to nobody

[2017-08-13 12:43] mk1x86 commented on #25
Keine Zeit mehr, close

[2017-08-13 14:10] ikskuh commented on #44
Intro startet jetzt, wenn man ein Spiel aus dem Menü startet...
 ( 82094edced8f99ef7447fdbeed3ef9a49b24b502 )

[2017-08-13 14:10] ikskuh commented on #19
Wäre hiermit ordentlich ins Spiel integriert.

[2017-08-13 14:10] #19 closed, assigned to xwcg, ikskuh

[2017-08-13 16:24] firoball commented on #46
Problem gefunden. Credits.dat muss mitkopiert werden.
-->In Zukunft bitte File Handles auf Gültigkeit überprüfen ;)

[2017-08-13 16:44] firoball opened #47 "Menü / Credits / Spiel Wechsel führt zu Fehler und Abstürzen"
Irgendwo ist die Integration noch nicht sauber. Einfach mehrmals Credits, Intro, Spiel, abbrechen, Intro, Spiel usw. durchgehen, und man bekommt DirectX Fehler, Crashes, oder eine SPLASH__housekeeping() Fehlermeldung.
Teilweise bleiben nach dem Intro seltsame Artefakte und kaputtes Spieler Movement zurück.

Ich vermute da ist was nicht sauber eingehängt, wird nicht gestoppt, mehrmals gestartet, et

[2017-08-13 16:47] firoball commented on #47
Außerdem merkt man das Laden der Bitmaps beim Intro aus der WRS doch recht deutlich. Am besten preloaden, damit das Intro ruckelfrei läuft.

[2017-08-13 16:53] #46 closed, assigned to nobody

[2017-08-13 16:56] firoball opened #48 "readme.txt mit Liebe versehen"
Wer hat Lust?

[2017-08-13 17:30] mk1x86 commented on #47
Keine Ahnung wie das geht?

[2017-08-13 17:38] firoball commented on #47
preloaden? ent_preload(ENTITY*), bmap_preload(BMAP*)

[2017-08-13 18:02] firoball commented on #47
Was das Problem mit den seltsamen Fehlern betrifft, ist zumindest schonmal eine Ursache, dass man die Menüpunkte mehrfach klicken kann, weil nach Wahl einer Option das Menü nicht verriegelt wird.

[2017-08-13 18:50] firoball commented on #34
Beim Versuch auch die Fonts zu skalieren, kommt irgendein Random Behaviour rein, vermutlich bedingt durch das Setzen der Startauflösung.
Ist das Scaling wirklich so wichtig? Ich tendiere dazu das einfach nicht mehr zu ändern.

[2017-08-13 19:16] mk1x86 commented on #47
@MasterQ32 Da du die Übergänge gemacht hast und am besten weißt, wo man das Spiel abbricht: Die Sounds stoppen nur, wenn der Spieler tot ist! also muss dead irgendwo gesetzt werden

[2017-08-13 19:16] mk1x86 commented on #48
ich

[2017-08-13 20:19] firoball commented on #34
pan_setdigits mit String als Anzeigeparameter crasht beim zweiten Aufruf. Ganz große Klasse, jcl.
Damit wird das HUD jetzt einfach nicht der Auflösung angepasst. Dialogfenster nicht skalieren, den Emo aber schon, ist noch grausiger als gar nicht skalieren.

zu damit.

[2017-08-13 20:19] #34 closed, assigned to nobody

[2017-08-14 08:34] ikskuh commented on #47
@mk1x86 Das liegt daran, dass die ganzen sounds mit `snd_loop` abgespielt werden und nicht mit `ent_playloop2` oder ähnlichem... Für wie lange muss `dead` gesetzt werden, damit ich einen garantierten safe shutdown habe?

[2017-08-14 09:17] mk1x86 commented on #47
Ein frame, aber ent_... kenne ich gar nicht. Gut zu wissen

[2017-08-14 11:08] ikskuh commented on #47
Soundproblem resolved in c548c58d050974a16f1b34c55c35e97dea3724b2
Doppelter Start vom Intro resolved in d4640c140f172063e335ec5b1a9927d1d069f805

[2017-08-14 15:22] firoball commented on #47
ent_playloop2!? Ist das ein Hidden Feature? :D

[2017-08-14 18:36] ikskuh commented on #47
Nö, würde sagen: [Documented!](http://manual.conitec.net/aent_playsound.htm)

[2017-08-14 18:42] firoball commented on #47
im .chm kontne ich das nicht finden, weder über index, noch über Suche :o

[2017-08-14 18:47] firoball commented on #47
ist das Random pitching des Schusssounds Absicht? Finde das irgendwie verwirrend beim Spielen...

[2017-08-14 19:06] mk1x86 commented on #47
wenn ja, dann raus damit. habe das extra synchronisiert

[2017-08-14 20:46] #48 closed, assigned to nobody

[2017-08-14 20:46] #29 closed, assigned to Hen-woll

[2017-08-14 20:48] mk1x86 commented on #28
@firoball
quest_received.wav, quest_completed.wav
Wäre dann durch

[2017-08-14 20:50] mk1x86 commented on #12
Keine Zeit mehr, close

[2017-08-14 20:52] #44 closed, assigned to nobody

[2017-08-15 07:45] xwcg commented on #12
Können wir bitte nicht issues closen weil sie nicht in den 1.0 release kommen, dafür gibts labels

[2017-08-15 07:48] mk1x86 commented on #12
Wirst du denn einen 1.1 release machen?

[2017-08-15 07:51] xwcg commented on #12
vielleicht, vielleicht nicht, aber das ist falsches handling von issues. Schlechte angewohnheiten und so. Erst gar nicht damit anfangen!

[2017-08-15 13:34] firoball commented on #12
Ich mache heut Abend einen Release candidate 1.0.Den dann bitte erst testen, bevor wir ihn auf die Menschheit loslassen. Ich melde mich dann.Am 15.08.2017 9:48 vorm. schrieb mk1x86 <notifications@github.com>:Wirst du denn einen 1.1 release machen?

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-08-15 17:34] firoball commented on #28
Ich denke das hier ist fertig. Ich schließe.

[2017-08-15 17:34] #28 closed, assigned to mk1x86

[2017-08-15 17:36] firoball opened #49 "Test run: Release candidate #1"
https://vksbm.de/ackcon/download/lottivstheworld.zip

Bitte ausprobieren, ob das Ding zuverlässig läuft. Auch versuchen, mehrere Levels zu spielen, mehrmals Credits und Intro aufrufen etc.

[2017-08-15 17:39] firoball opened #50 "Starter screen"
Wer hat Lust, hier was schönes zu bauen?

Die acknex.wdf Definition kann in der Haupt WDL hinterlegt werden(siehe Morbius).
Wäre aber eher was für den Director's Cut. Ich schreibe diese Issue nur, damit wirs nicht vergessen, sollte noch ein Release kommen.

[2017-08-15 17:59] mk1x86 commented on #50
Henrik hatte ein gutes Cover

[2017-08-15 18:01] mk1x86 commented on #49
Achtung, es ist *lotter* vs...

[2017-08-15 18:04] firoball commented on #49
ich hab nur gezippt. Dann heißt das Hauptscript falsch.

[2017-08-15 18:17] mk1x86 commented on #49
Das kann sein. Welche Größe muss das cover haben?

[2017-08-15 18:25] firoball commented on #49
Cover? Das war issue #50 ;)
Kann man in der Winstart Definition in der Haupt WDL beliebig festlegen.

[2017-08-15 18:31] firoball commented on #50
so sah das bei Morbius aus:

WINDOW WINSTART
{
  TITLE "Utopia - The Morbius Conspiracy";
  SIZE 359,640;
  MODE IMAGE;
  BG_COLOR RGB(0, 0, 0);
  BG_PATTERN <morbius.pcx>,OPAQUE;
  PROGRESS RGB(255, 255, 255), 14, 0, 610, 395, 30;
}

Also wider Erwarten kann man wohl auch ungerade Größen nehmen, aber ich hab da irgendwas mit nur pcx und nur 256 Farben im Kopf. Da bin ich mir nimmer sicher. Aber d

[2017-08-15 19:03] firoball commented on #50
done.

[2017-08-15 19:03] #50 closed, assigned to nobody

[2017-08-15 20:37] firoball commented on #49
Wenn der Release candidate keine Auffälligkeiten zeigt, bau Ich nochmal neu mit dem Starter Screen und umbenannter Main. Ich warte auf eure Rückmeldungen :)Am 15.08.2017 8:17 nachm. schrieb mk1x86 <notifications@github.com>:Das kann sein. Welche Größe muss das cover haben?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-08-16 13:06] ikskuh commented on #49
Ich werd heute Abend das ganze mal auf Windows testen, würde übrigens auch vorschlagen, dass wir den Release auch über GitHub festnageln und hochladen...

[2017-08-16 15:04] firoball commented on #49
Auf jeden Fall nen Release ziehen. Bisher lagen die binaries dann immer auf indiedb und der Website. Am 16.08.2017 3:06 nachm. schrieb Felix Queißner <notifications@github.com>:Ich werd heute Abend das ganze mal auf Windows testen, würde übrigens auch vorschlagen, dass wir den Release auch über GitHub festnageln und hochladen...

—You are receiving this because you authored the thread.Reply to thi

[2017-08-16 15:13] mk1x86 commented on #49
Kann erst morgen Abend testen

[2017-08-16 21:36] firoball commented on #49
Bei mir crasht sporadisch der Build wenn ich das Intro und direkt danach das gestartete Level per ESC abbreche

[2017-08-16 22:39] firoball opened #51 "Test run: Release candidate #2"
https://vksbm.de/ackcon/download/lottervstheworld.zip

Bitte ausprobieren, ob das Ding zuverlässig läuft. Auch versuchen, mehrere Levels zu spielen, mehrmals Credits und Intro aufrufen etc.

[2017-08-16 22:39] firoball commented on #49
Preloading für das Intro hinzugefügt, Starter Screen drin, Main Script umbenannt. Neuer Release Candidate wird hochgeladen, neue Issue erstellt.

[2017-08-16 22:39] #49 closed, assigned to nobody

[2017-08-17 08:52] firoball commented on #51
"DirectX: ZTARG"
Jemand ne Ahnung auf was diese Popup Meldung hindeuten könnte?

http://www.opserver.de/ubb7/ubbthreads.php?ubb=showflat&Number=337942
das ist relativ wenig hilfreich :D

[2017-08-17 09:37] ikskuh commented on #51
Weißt du, wann die aufgetreten ist?

Und noch was anderes: haben wir `fps_max` gesetzt? Meine Grafikkarte hat im Intro volle Auslastung

[2017-08-17 09:43] firoball commented on #51
Die DirectX Meldung hab ich beim rumwechseln zwischen Intro Spiel und Credits bekommen. Ich vermute irgendwo ist ein Übergang nicht ganz sauber. Vermutlich eher eklig zu findenAm 17.08.2017 11:37 vorm. schrieb Felix Queißner <notifications@github.com>:Weißt du, wann die aufgetreten ist?
Und noch was anderes: haben wir fps_max gesetzt? Meine Grafikkarte hat im Intro volle Auslastung

—You are recei

[2017-08-17 09:52] ikskuh commented on #51
Okay, ich hatte grade einen Absturz, nach einiger Zeit hin und her wechseln zwischen Spiel→Menü→Credits→Menü→Spiel...
Läuft aber an sich stabil genug, dass ich mich damit zufrieden geben würde...

[2017-08-17 10:05] firoball commented on #51
Vielleicht kann ja @Slin (oder wer auch immer mit involviert war) nochmal kurz die render targets durchschauen, ob irgendwo etwas nicht aufgeräumt wird. Klingt ja so als wird da irgendwas doppelt gemacht.

[2017-08-17 19:54] firoball commented on #51
Wenn sonst keiner mehr Einwände hat, können wir den Link auf das zip heute noch auf die Welt loslassen. Wird langsam Zeit :)Am 17.08.2017 11:57 vorm. schrieb Felix Queißner <notifications@github.com>:Okay, ich hatte grade einen Absturz, nach einiger Zeit hin und her wechseln zwischen Spiel→Menü→Credits→Menü→Spiel...
Läuft aber an sich stabil genug, dass ich mich damit zufrieden geben würde...

—Yo

[2017-08-18 06:57] mk1x86 commented on #51
Hatte einen Crash beim anzeigen der highscores nach game over. Habe sonst nichts gemacht. Ich nehme an, es hängt mit dem intro zusammen. Aber egal, hau raus den Kram. Solange man spielen kann, ist okay

[2017-08-18 14:25] firoball commented on #51
Das ZIP liegt schon am richtigen Platz. Haut den Link einfach in die Welt. Wer coole Screenshots hat, kann mir die zukommen lassen für die Website.Indiedb müsste noch gepflegt werden, allerdings hab ich heute dafür keine ZeitAm 18.08.2017 8:57 vorm. schrieb mk1x86 <notifications@github.com>:Hatte einen Crash beim anzeigen der highscores nach game over. Habe sonst nichts gemacht. Ich nehme an, es h

[2017-08-19 08:45] ikskuh commented on #51
Ich bin mal so frei und close die topic hier. Zudem pack ich noch das lottervstheworld.zip zum github release dazu, dann kann man sich das spiel auch direkt von hier laden

[2017-08-19 08:45] #51 closed, assigned to firoball

[2017-08-20 17:42] firoball commented on #47
Habe gerade mehrere Levels gespielt und im sechsten oder siebten hats dann geknallt (hab leider keinen Meldungstext bekommen). :(
Vielleicht sollten wir da doch nochmal suchen.

[2017-08-20 17:51] ikskuh commented on #47
Ich kann mir vorstellen dass es am Aufräumen der dynamischen Modelle liegen könnte, da ich das dreist weggelassen habe... Das sollte aber eigentlich nicht zu Problemen (mal abgesehen von OutOfMemory) führen, da ich die CleanUp-Funktionen nicht aufrufe und damit keine dangling pointer entstehen könnten. Zum out of memory: Jedes Level benötigt um die 900kB Hauptspeicher, das kann also eine ganze wei

[2017-08-20 17:54] firoball commented on #47
Ich hab mal schnell mit nem **-diag** laufen lassen, aber diesmal gabs keinen Absturz. Dafür ein paar interessante andere Sachen die anscheinend nicht unmittelbar die Executable versenken...

MM mixer opened
DSOUND device opened
DI interface opened
Start Window opened(c) Conitec - www.3dgamestudio.com
A8 Engine - Pro Edition V8.47.1 - Mar  9 2016
Linking D:\git\ackcon\LottiVersusTheWorld\game\lott

[2017-08-20 17:56] ikskuh commented on #47
[code]
Das kommentier ich mal mit einem "WTF, warum tut das dann überhaupt?!"

[code]
Hm, das sollte aber eigentlich nur dazu führen, dass man schwarz bzw. Datenmüll sieht und nicht, dass es abstürzt....

[2017-08-20 18:31] firoball commented on #47
Das mit den Function not found kann auch von nicht gelöschten Prototypen un evtl. von fehlenden includes kommen. Dürfte primär reine Schlamperei sein :D

Ich hab jetzt nochmal ne längere Session eingelegt und es ist nix abgestürzt. Ich hatte irgendwann das klassische "Shader Ruckeln" und einmal war WASD so halb kaputt, aber da hab ich vorhin wohl echt den einen Griff ins Klo gemacht.

[2017-08-20 18:33] firoball commented on #47
und jetzt doch noch gecrasht nach den Credits bei schnellem Klicken in Menü bevor der Text sichtbar war... was bin ich auch so ungeduldig :D

Naja egal fürs erste.

Edit: Ok, wie man den Crash hinkriegt hab ich zuminest rausgefunden. Das passiert, wenn man nach den Credits sehr früh im Menü (noch nicht alles eingefadet) direkt wieder die Credits antriggert. Das kann man wohl vernachlässigen, außer

[2017-08-20 18:47] mk1x86 commented on #47
@evil-lemming ist für die Monitore verantwortlich. Vielleicht steigt er da durch

[2017-08-20 19:32] ikskuh commented on #47
Das klingt irgendwie nach einem sehr komischen Bugfix ^^

[2017-08-20 19:51] firoball commented on #47
zumal es -debug gar nicht gibt.

Könnte aber sein, dass die d3d_compiler dll für die Shader fehlt... hmmm

edit: hm ne die ist drin.

[2017-08-21 14:08] ikskuh opened #52 "Credits: Musik fertig spielen lassen"
In den Credits die Musik auslaufen lassen, wenn der Scroll-Text vorbei ist. Im Moment kehrt das Spiel immer sofort ins Menü zurück, auch wenn das Lied nicht fertig ist.